#auction_sort
  = simple_form_for @auction_search, url: auctions_path, html: { method: :get } do |f|
    = f.input :child_configuration_id, as: :hidden
    = f.input :search_term, as: :hidden
    = f.input :clothing_condition_id, as: :hidden
    = f.input :brand_ids, as: :hidden
    = f.input :clothing_size_ids, as: :hidden
    = f.input :clothing_type_ids, as: :hidden
    = f.input :season_ids, as: :hidden
    = f.input :sort_by, collection: ["Title", "Price", "Time Left"]
    = f.submit "Sort"

