.profile_image= image_tag @user.profile_image_url, class: "profile"

.profile_details
  %h1= @user.full_name
  - if @user.bio.present?
    %p.bio <strong>Bio:</strong> #{@user.bio}
  - if current_user == @user
    = link_to "Edit My Profile", edit_user_registration_path

.child_information
  %p #{@user.relationship_to_children.name} to #{@user.child_configuration.number_of_children} darling children
  = render @user.child_configuration

.auctions.current
  %h3
    #{@user.first_name}'s Current Listings:
  %ul
    - @user.auctions.each do |auction|
      %li= link_to auction.title, auction_path(auction)
