.profile_image
  %img.profile_image

.profile_details
  %h1= @user.full_name
  - if @user.bio.present?
    %p.bio <strong>Bio:</strong> #{@user.bio}
  - if current_user == @user
    = link_to "Edit My Profile", edit_user_registration_path

.child_information
  %p #{@user.relationship_to_children.name} to #{@user.child_configuration.number_of_children} darling children
  = render @user.child_configuration
